<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates %>
</head>

<body>

<% include templates %>


<!-- Insert Body here -->
<main role="main" class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</main><!-- /.container -->

<% include templates %>

<% include templates %>
</body>
</html>