<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Default CSS for this page -->
    <% include ../customs/head.ejs %>

    <!-- BEGIN CSS for this page -->
    <link href="/lib/bootstrap/plugins/datetimepicker/css/daterangepicker.css" rel="stylesheet" />
    <!-- END CSS for this page -->
</head>
<body class="adminbody">

<div id="main">

    <!-- Top bar navigation -->
    <% include ../customs/navigation.ejs %>
    <!-- End Navigation -->

    <!-- Left Sidebar -->
    <% include ../customs/sidebar_admin.ejs %>
    <!-- End Sidebar -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-holder">
                            <h1 class="main-title float-left projectname">Project Name</h1>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active projectname">Project Name</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row apilist" style="display: none;">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body doc">
                                <!--<h4 class="name"></h4></br>-->
                                <!--<p class="description"></p></br>-->

                                <p>LIST OF API SERVICE </p>

                                <table class="table table-sm table-bordered table-striped">
                                    <thead class="bg-primary text-light text-center">
                                    <th scope="col" >ID</th>
                                    <th scope="col" >Method</th>
                                    <th scope="col" >API Name</th>
                                    <th scope="col" >Description</th>
                                    <th scope="col" >LastUpdate</th>
                                    <th scope="col" >Revoke</th>
                                    <th scope="col" >Status</th>
                                    </thead>
                                    <tbody class="list-of-api">
                                    </tbody>
                                </table>


                            </div>


                        </div><!-- end card-->
                    </div>
                </div>
                <!-- end row -->

                <div class="row docApi" style="display: none;">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body doc">
                                <h4 class="name"></h4></br>
                                <p class="description"></p></br>

                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th class="bg-primary  text-light">Protocol</th>
                                        <td class="protocol col">HTTPS</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-primary  text-light">Method</th>
                                        <td class="method">GET</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-primary  text-light">Live</th>
                                        <td class="live">https://xxx.com</td>
                                    </tr>
                                    <tr>
                                        <th class="bg-primary  text-light">Iot</th>
                                        <td class="iot">https://xxx.com</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p>Request URL Parameters </p>

                                <table class="table table-bordered">
                                    <thead class="bg-primary text-light">
                                    <th scope="col" >Paramiter</th>
                                    <th scope="col" >M/O</th>
                                    <th scope="col" >SV/MV</th>
                                    <th scope="col" >DataType</th>
                                    <th scope="col" class="col">Description/Exsample</th>
                                    </thead>
                                    <tbody class="url-Parameters">

                                    </tbody>
                                </table>

                                <p>Request Headers Parameters </p>

                                <table class="table table-bordered">
                                    <thead class="bg-primary text-light">
                                    <th scope="col" >Paramiter</th>
                                    <th scope="col" >M/O</th>
                                    <th scope="col" >SV/MV</th>
                                    <th scope="col" >DataType</th>
                                    <th scope="col" class="col">Description/Exsample</th>
                                    </thead>
                                    <tbody class="header-Parameters">

                                    </tbody>
                                </table>

                                <p>Request Body Parameters  </p>

                                <table class="table table-bordered">
                                    <thead class="bg-primary text-light">
                                    <th scope="col" >Paramiter</th>
                                    <th scope="col" >M/O</th>
                                    <th scope="col" >SV/MV</th>
                                    <th scope="col" >DataType</th>
                                    <th scope="col" class="col">Description/Exsample</th>
                                    </thead>
                                    <tbody class="body-Parameters">

                                    </tbody>
                                </table>

                                <p>Request Body Exsample</p>
                                <pre id="requestExsample" class="border border-dark p-3 col-xl-12"></pre>


                                <p>Response Body</p>
                                <pre id="responseBody" class="border border-dark p-3 col-xl-12"></pre>

                            </div>


                        </div><!-- end card-->
                    </div>
                </div>
                <!-- end row -->


            </div>
            <!-- END container-fluid -->

        </div>
        <!-- END content -->
    </div>

    <!-- Start footer Content -->
    <% include ../customs/footer.ejs %>
    <!-- End footer Content -->

</div>

<!-- Default Java Script for this page -->
<% include ../customs/js.ejs %>

<!-- BEGIN Java Script for this page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script type="application/javascript" src="/js/doc_api/doc.js"></script>

<!-- Counter-Up-->
<script src="/lib/bootstrap/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/lib/bootstrap/plugins/counterup/jquery.counterup.min.js"></script>
<script src="/lib/bootstrap/plugins/trumbowyg/trumbowyg.min.js"></script>

<!-- BEGIN Java Script for this page -->
<script src="/lib/bootstrap/plugins/datetimepicker/js/moment.min.js"></script>
<script src="/lib/bootstrap/plugins/datetimepicker/js/daterangepicker.js"></script>

<!-- END Java Script for this page -->


</body>
</html>