<footer class="footer">
	<span class="text-right text-info">
		© 2018 - Powered by Center for Information Technology Services, Mae Fah Luang University
	</span>
	<!--<span class="float-right">-->
		<!--Support Form <a target="_blank" href="#"><b>MFU STUDENTS</b></a>-->
	<!--</span>-->
</footer>