<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= title %></title>
<!--<meta name="description" content="Free Bootstrap 4 Admin Theme | Pike Admin">-->
<!--<meta name="author" content="Pike Web Development - https://www.pikephp.com">-->

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico">

<!-- Bootstrap CSS -->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- Font Awesome CSS -->
<link href="lib/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- Custom CSS -->
<link href="lib/bootstrap/css/style.css" rel="stylesheet" type="text/css" />

<!-- Modernizr -->
<script src="lib/bootstrap/js/modernizr.min.js"></script>

<!-- jQuery -->
<script src="lib/bootstrap/js/jquery.min.js"></script>

<!-- Moment -->
<script src="lib/bootstrap/js/moment.min.js"></script>

<!-- BEGIN CSS for this page -->
<link rel="stylesheet" href="lib/bootstrap/plugins/trumbowyg/ui/trumbowyg.min.css">
<!-- END CSS for this page -->

<!-- BEGIN CSS for this page -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
<!-- END CSS for this page -->

<!-- Switchery css_1 -->
<link href="lib/bootstrap/plugins/switchery/switchery.min.css" rel="stylesheet" />


<!-- Fonts CSS -->
<link href="lib/bootstrap/css/stylesheet.css" rel="stylesheet" type="text/css" />