
<script src="/lib/bootstrap/js/modernizr.min.js"></script>
<script src="/lib/bootstrap/js/jquery.min.js"></script>
<script src="/lib/jquery/url.js"></script>
<script src="/lib/jquery/dateFormat.js"></script>
<script src="/lib/jquery/jquery.dateFormat.js"></script>
<script src="/lib/bootstrap/js/moment.min.js"></script>

<script src="/lib/bootstrap/js/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<script src="/lib/bootstrap/js/detect.js"></script>
<script src="/lib/bootstrap/js/fastclick.js"></script>
<script src="/lib/bootstrap/js/jquery.blockUI.js"></script>
<script src="/lib/bootstrap/js/jquery.nicescroll.js"></script>
<script src="/lib/bootstrap/js/jquery.scrollTo.min.js"></script>
<script src="/lib/bootstrap/plugins/switchery/switchery.min.js"></script>

<!-- App js -->
<script src="/lib/bootstrap/js/pikeadmin.js"></script>
<script src="/lib/util/base64.js"></script>

<script src="/controlls/ApiServices.js"></script>
<script language="javascript">
    document.onkeydown = function(e) {
        if(event.keyCode == 123) {
            return false;
        }
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
            return false;
        }
        if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
            return false;
        }
        if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
            return false;
        }
    }
</script>