<div class="headerbar">

    <!-- LOGO -->
    <!--<div class="headerbar-left">-->
        <!--<a href="/" class="logo">STU<span>DENT</span></a>-->
    <!--</div>-->

    <nav class="navbar-custom" style="margin-left: 0;">
        <div class="list-inline float-left mb-0 text-light" style="height: 50px; line-height: 50px;">
            <div class="float-left mt-1 ml-3" style="width: 25px;">
                <img class="img-fluid d-block mx-auto" src="/lib/bootstrap/css/res/logo.png" height="45px" width="25px"/>
            </div>
            <div class="float-left mt-1 ml-3" style="line-height: 20px;">
                <span style="font-size: 2.5em; font-family: 'LilyUPC'; font-weight: normal; font-style: normal;">มหาวิทยาลัยแม่ฟ้าหลวง </span></br>
                <span style="font-size: 1em; font-family: 'Malgun Gothic'; font-weight: normal; font-style: normal;"><b>MAE FAH LUANG UNIVERSITY </b></span>
            </div>

            <!--<li class="float-left">-->

                <!--<button class="button-menu-mobile open-left">-->
                    <!--<i class="fa fa-fw fa-bars"></i>-->
                <!--</button>-->
            <!--</li>-->
        </div>
        <ul class="list-inline float-right mb-0">

            <!--<li class="list-inline-item dropdown notif">-->
                <!--<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">-->
                    <!--<i class="fa fa-fw fa-question-circle"></i>-->
                <!--</a>-->
                <!--<div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">-->
                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<div class="dropdown-item noti-title">-->
                        <!--<h5><small>Help and Support</small></h5>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item">-->
                        <!--<p class="notify-details ml-0">-->
                            <!--<b>Do you want custom development to integrate this theme?</b>-->
                            <!--<span>Contact Us</span>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a target="_blank" href="https://www.pikeadmin.com/pike-admin-pro" class="dropdown-item notify-item">-->
                        <!--<p class="notify-details ml-0">-->
                            <!--<b>Do you want PHP version of the theme that save dozens of hours of work?</b>-->
                            <!--<span>Try Pike Admin PRO</span>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; All&ndash;&gt;-->
                    <!--<a title="Clcik to visit Pike Admin Website" target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item notify-all">-->
                        <!--<i class="fa fa-link"></i> Visit Pike Admin Website-->
                    <!--</a>-->

                <!--</div>-->
            <!--</li>-->

            <!--<li class="list-inline-item dropdown notif">-->
                <!--<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">-->
                    <!--<i class="fa fa-fw fa-envelope-o"></i><span class="notif-bullet"></span>-->
                <!--</a>-->
                <!--<div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg">-->
                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<div class="dropdown-item noti-title">-->
                        <!--<h5><small><span class="label label-danger pull-xs-right">12</span>Contact Messages</small></h5>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item">-->
                        <!--<p class="notify-details ml-0">-->
                            <!--<b>Jokn Doe</b>-->
                            <!--<span>New message received</span>-->
                            <!--<small class="text-muted">2 minutes ago</small>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item">-->
                        <!--<p class="notify-details ml-0">-->
                            <!--<b>Michael Jackson</b>-->
                            <!--<span>New message received</span>-->
                            <!--<small class="text-muted">15 minutes ago</small>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item">-->
                        <!--<p class="notify-details ml-0">-->
                            <!--<b>Foxy Johnes</b>-->
                            <!--<span>New message received</span>-->
                            <!--<small class="text-muted">Yesterday, 13:30</small>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; All&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item notify-all">-->
                        <!--View All-->
                    <!--</a>-->

                <!--</div>-->
            <!--</li>-->

            <!--<li class="list-inline-item dropdown notif">-->
                <!--<a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">-->
                    <!--<i class="fa fa-fw fa-bell-o"></i><span class="notif-bullet"></span>-->
                <!--</a>-->
                <!--<div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg">-->
                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<div class="dropdown-item noti-title">-->
                        <!--<h5><small><span class="label label-danger pull-xs-right">5</span>Allerts</small></h5>-->
                    <!--</div>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item">-->
                        <!--<div class="notify-icon bg-faded">-->
                            <!--<img src="/images/avatars/avatar2.png" alt="img" class="rounded-circle img-fluid">-->
                        <!--</div>-->
                        <!--<p class="notify-details">-->
                            <!--<b>John Doe</b>-->
                            <!--<span>User registration</span>-->
                            <!--<small class="text-muted">3 minutes ago</small>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item">-->
                        <!--<div class="notify-icon bg-faded">-->
                            <!--<img src="/images/avatars/avatar3.png" alt="img" class="rounded-circle img-fluid">-->
                        <!--</div>-->
                        <!--<p class="notify-details">-->
                            <!--<b>Michael Cox</b>-->
                            <!--<span>Task 2 completed</span>-->
                            <!--<small class="text-muted">12 minutes ago</small>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item">-->
                        <!--<div class="notify-icon bg-faded">-->
                            <!--<img src="/images/avatars/avatar4.png" alt="img" class="rounded-circle img-fluid">-->
                        <!--</div>-->
                        <!--<p class="notify-details">-->
                            <!--<b>Michelle Dolores</b>-->
                            <!--<span>New job completed</span>-->
                            <!--<small class="text-muted">35 minutes ago</small>-->
                        <!--</p>-->
                    <!--</a>-->

                    <!--&lt;!&ndash; All&ndash;&gt;-->
                    <!--<a href="#" class="dropdown-item notify-item notify-all">-->
                        <!--View All Allerts-->
                    <!--</a>-->

                <!--</div>-->
            <!--</li>-->

            <li class="list-inline-item dropdown notif">
                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <!--<img src="/images/avatars/avatar10.png" alt="Profile image" class="avatar-rounded">-->

                    <i class="fa fa-lg fa-user-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <div class="text-overflow profile-info"><small>Hello, admin</small> </div>
                    </div>

                    <!-- item-->
                    <!--<a href="pro-profile.html" class="dropdown-item notify-item">-->
                        <!--<i class="fa fa-user"></i> <span>Profile</span>-->
                    <!--</a>-->

                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item logout">
                        <i class="fa fa-power-off"></i> <span>Logout</span>
                    </a>

                    <!-- item-->
                    <!--<a target="_blank" href="https://www.pikeadmin.com" class="dropdown-item notify-item">-->
                        <!--<i class="fa fa-external-link"></i> <span>Pike Admin</span>-->
                    <!--</a>-->
                </div>
            </li>

        </ul>
    </nav>

</div>