<div class="left main-sidebar">

    <div class="sidebar-inner leftscroll">

        <div id="sidebar-menu">

            <ul class="menu">
                <!--<li class="submenu">-->
                    <!--<a value="1"><i class="fa fa-fw fa-tv"></i> <span> User Interface </span> <span class="menu-arrow"></span></a>-->
                    <!--<ul class="list-unstyled">-->
                        <!--<li><a >Alerts</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

            </ul>

            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

    </div>

</div>